# Strings and Conditional statements

In [1]:
#program to implement concatenation
str1 = "apna"
str2 = "college"
print(str1+str2)

apnacollege

In [2]:
#program to find length of a string
str1 = "ishita harish kadam"
length = len(str1)
print(length)

19

In [3]:
#slicing
str = "Ishita Harish Kadam"
print(str[1:7])
print(str[:14])
print(str[0:len(str)])

shita
Ishita Harish
Ishita Harish Kadam

In [4]:
#WAP to input users name and print it
name = input("enter your name:")
print("length of your name is", len(name))

enter your name:Ishita
length of your name is 6

In [5]:
#WAP TO FIND THE OCCURRENCE OF $ IN A STRING
str = "Hi $ you have been invited to $ at $"
str.count("$")

3

In [6]:
#conditional statements
light = "green"
if(light == "red"):
    print("stop")
elif(light == "green"):
    print("go")
elif(light=="yellow"):
    print("look")

go

In [7]:
#conditional statements
marks = 86
if(marks >= 90):
    print("Grade : A")
elif(marks < 90 and marks >= 80):
    print("Grade : B")
elif(marks < 80 and marks >=70):
    print("Grade : C")
elif(marks < 70):
    print("Grade : D")

Grade : B

In [8]:
#WAP to check if a number entered by the user is odd or even
number = 24
if(number % 2 ==0):
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [9]:
#WAP to find the greatest of 3 numbers entered by the user
A = int(input("Enter A :"))
B = int(input("Enter B :")) 
C = int(input("Enter C :"))
if(A > B and A > C):
    print("A is greatest")
elif(B>C):
    print("B is greatest")
else:
    print("C is greatest")

Enter A :78
Enter B :56
Enter C :41
A is greatest

In [10]:
#WAP to check if a number is a multiple of 7 or not
A = int(input("enter a number : "))
if(A % 7 == 0):
    print("A is multiple of 7")
else:
    print("A is not a multiple of 7")

enter a number : 85
A is not a multiple of 7

# List and Tuple in Python

In [11]:
#A built-in data type that stores set of values
#It can store elements of different types (integer, float, string, etc.)

In [12]:
#WAP to ask the user to enter names of their 3 favorite movies and store them in a list
movie1 = input("Enter movie name: ")
movie2 = input("Enter movie name: ")
movie3 = input("Enter movie name: ")

list = [movie1, movie2, movie3]
print(list)

Enter movie name: a
Enter movie name: b
Enter movie name: c
['a ', 'b', 'c']

In [13]:
#WAP to check if a list contains a palindrome of elements 
list = [1,2,2,1]
copy_list = list.copy()
copy_list.reverse()

if(copy_list == list):
    print("palindrome")
else:
    print("not a palindrome")

palindrome

In [14]:
#WAP to count the number of students with the "A" grade in the following tuple.
tup = ("C","D","A","B","B","A","A")
count_of_A = tup.count("A")
print(count_of_A)

#store the above values in a list and store them from "A" TO "D"
grade = ["C","D","A","B","B","A","A"]
grade.sort()
print(grade)

3
['A', 'A', 'A', 'B', 'B', 'C', 'D']

# Dictionary

In [15]:
#Dictionaries are used to store data values in key:value pairs
#they are unordered, mutable(changable) and dont allow duplicate keys
info ={
    "key" : "value",
    "name" : "Ishita",
    "subjects" : ["python", "java", "DSA"],
    "learning" : "coding",
    "age" : 22,
    "is_adult" : True,
    "marks" : 95
}
print(info)

{'key': 'value', 'name': 'Ishita', 'subjects': ['python', 'java', 'DSA'], 'learning': 'coding', 'age': 22, 'is_adult': True, 'marks': 95}

In [16]:
#nested dictionary
student = {
    "name" : "Ishita",
    "subjects" : {
        "Java" : 95,
        "Python" : 90,
        "DSA" : 95
    }
}
print(student)

{'name': 'Ishita', 'subjects': {'Java': 95, 'Python': 90, 'DSA': 95}}

In [17]:
# Dictionary Methods

#myDict.keys( ) #returns all keys

#myDict.items( ) #returns all (key, val) pairs as tuples

#myDict.update( newDict ) #inserts the specified items to the dictionary

#myDict.values( ) #returns all values

#myDict.get( “key““ ) #returns the key according to value

In [18]:
student = {
    "name" : "Ishita",
    "subjects" : {
        "Java" : 95,
        "Python" : 90,
        "DSA" : 95
    }
}
#print(student)
print(student.keys())
print(student.values())
print(student.items())
print(student.get("name"))
student.update({"city" : "pune"})
print(student)

dict_keys(['name', 'subjects'])
dict_values(['Ishita', {'Java': 95, 'Python': 90, 'DSA': 95}])
dict_items([('name', 'Ishita'), ('subjects', {'Java': 95, 'Python': 90, 'DSA': 95})])
Ishita
{'name': 'Ishita', 'subjects': {'Java': 95, 'Python': 90, 'DSA': 95}, 'city': 'pune'}

# SET

In [19]:
#set is the collection of the unordered items
#each element in the set must be unique and immutable
#set can store -> boolean, int, float, string, tuple 
#but we cant store list and dictionary in set

In [20]:
collection = {1,2,3,4,"hey"}
print(collection)
print(type(collection))

{1, 2, 3, 4, 'hey'}
<class 'set'>

In [21]:
#if we repeat some values in set then it just ignores the repeated values and it prints it once
collection = {1,2,2,2,2, "hey", "hey"}
print(collection)

{1, 2, 'hey'}

In [22]:
#Set methods

#set.add(el) -> adds an element
#set.remove(el) -> removes the element
#set.clear(el) -> empties the set
#set.pop(el) -> removes a random value

In [23]:
collection = set()
collection.add(1)
collection.add(1)
collection.add(1)
collection.add(2)
collection.add(3)
collection.add(4)
collection.add((1,2,3))

collection.remove(3)

print(collection.pop())
print(collection)

1
{2, 4, (1, 2, 3)}

In [24]:
#set methods

#set.union(set2) -> combines both set values and returns new
#set.intersection(set2) -> combines common values and returns new

In [25]:
set1 = {1,2,3}
set2 = {2,3,4}

print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4}
{2, 3}

In [26]:
#Store following word meanings in a python dictionary
#table : "a pice of furniture", "list of facts and figures"
#cat: "a small animal"

dictionary = {
    "cat" : "a small animal",
    "table" : ["a pice of furniture", "list of facts and figures"]
}
print(dictionary)

{'cat': 'a small animal', 'table': ['a pice of furniture', 'list of facts and figures']}

In [27]:
#you are given a list of subjects for students, assume one classroom is required for 1 subject.
#how many classrooms are needed by all students.

collection = {"python", "c++","python","javascript","java","python","java","c++","c"}
print(len(collection))

5

In [28]:
#WAP to enter marks of 3 students from the user and store them in a dictionary.
#start with an empty dictionaru and add one by one. use subject name as key and marks as value.

marks = {}
x = int(input("enter phy marks:"))
marks.update({"phy" : x})

x = int(input("enter maths marks:"))
marks.update({"math" : x})

x = int(input("enter chem marks:"))
marks.update({"chem" : x})

print(marks)

enter phy marks:85
enter maths marks:45
enter chem marks:63
{'phy': 85, 'math': 45, 'chem': 63}

# LOOPs in Python

In [29]:
#print numbers from 1 to 100

i = 1
while(i<=100):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [30]:
#print the numbers from 100 to 1

i = 100
while(i>=1):
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [31]:
#print the multiplication table of a number n

number = int(input("Enter a number: "))
i = 1
while(i <= 10):
    print(number * i)
    i+=1

Enter a number: 55
55
110
165
220
275
330
385
440
495
550

In [32]:
#Print the elements of the following list using a loop
#[1,4,9,16,25,36,49,64,81,100]

i = 1
while(i<=10):
    print(i*i)
    i+=1

1
4
9
16
25
36
49
64
81
100

In [33]:
#search for a number x in this tuple using loop:
##[1,4,9,16,25,49,64,81,100]

nums = (1,4,9,16,25,36,49,64,81,100)
x = 36
i=0
while(i<len(nums)):
    if(nums[i]==x):
        print("found at index",i)
    i+=1

found at index 5

In [ ]:
#Break -> used to terminate the loop when encountered
#continue -> terminates execution in the current iteration and 
#continues execution of the loop with the next iteration

In [34]:
i = 1
while i<=5:
    print(i)
    if(i==3):
        break
    i+=1
print("end of the loop")

1
2
3
end of the loop

In [35]:
nums = (1,4,9,16,25,36,49,64,81,100)
x = 36
i=0
while(i<len(nums)):
    if(nums[i]==x):
        print("found at index",i)
        break
    else:
        print("finding...")
    i+=1
print("end of the loop")

finding...
finding...
finding...
finding...
finding...
found at index 5
end of the loop

In [36]:
i=0 
while i<=5:
    if(i==3):
        i+=1
        continue #skips the next steps if i==3
    print(i)
    i+=1

0
1
2
4
5

In [37]:
nums = [1,2,3,4,5,6,7,8,9,10]
for val in nums:
    print(val)

1
2
3
4
5
6
7
8
9
10

In [38]:
tup = (3,6,1,2,5,6)
for num in tup:
    print(num)

3
6
1
2
5
6

In [39]:
str = "Ishita Harish Kadam"
for char in str:
    print(char)

I
s
h
i
t
a

H
a
r
i
s
h

K
a
d
a
m

In [40]:
#print the elements of the following list using a for loop:
#(1,4,9,16,25,36,49,64,81,100)

nums = [1,4,9,16,25,36,49,64,81,100]
for num in nums:
    print(num)

1
4
9
16
25
36
49
64
81
100

In [43]:
#search for a number x in this tuple using a for loop
#(1,4,9,16,25,36,49,64,81,100)

nums = (1,4,9,16,25,36,49,64,81,100)
i = 0
x = 25
for num in nums:
    if(num==x):
        print("found at index",i)
    i+=1

found at index 4

In [47]:
#Range-> range functions returns a sequence of numbers, starting from 0 by default
# and increments by 1(by default), and stops before a specified number

for el in range(5):
    print(el)
#prints 0 1 2 3 4

for el in range(1,5):
    print(el)
#prints 1 2 3 4

for el in range(1,5,2):
    print(el)
#prints 1 3

0
1
2
3
4
1
2
3
4
1
3

In [49]:
#Print numbers from 1 to 100
for el in range(1,101):
    print(el)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [51]:
#print numbers from 10 to 1
for el in range(10,0,-1):
    print(el)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [52]:
#print the multiplication table of a number n

n = int(input("enter number: "))
for i in range(1,11):
    print(n*i)

enter number: 5
5
10
15
20
25
30
35
40
45
50

In [53]:
#pass statement -> pass is a null statement that does nothing.
#it is used as a placeholder for future code

for i in range(5):
    pass
print("some usefull work")

some usefull work

In [56]:
#WAP to find the sum of first n numbers using WHILE loop
i=1
add = 0
n = int(input("Enter number: "))
while(i<=n):
    add +=i
    i+=1
print(add)

Enter number: 5
15

In [58]:
#WAP to find the factorial of first n natural numbers using for loop
n=5
fact=1
for i in range(1,n+1):
    fact *= i
print("factorial =",fact)

factorial = 120

# Functions and Recursion 

Block of statements that perform a specific task
function definition:
def func_name(param1, param2...):
    #some work
    return val
    
#function call    
func_name(arg1,arg2....)

In [64]:
#WAF to print the length of a list.(list is a parameter)

list1 = ["Ishita", "Harish", "Kadam"]
def length(list):
    print(len(list))
        
length(list1)

3

In [65]:
#WAF to print the elements of a list in a single line (list is the parameter)

list1 = ["Ishita", "Harish", "Kadam"]
def printlist(list):
    for item in list1:
        print(item,end=" ")

printlist(list1)

Ishita Harish Kadam

In [70]:
#WAF to find the factorial of n(n is the parameter)

n = int(input("Enter n: "))
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact *= i
    print(fact)   
factorial(n)

Enter n: 5
120

In [72]:
#WAF to convert USD to INR
#1 usd = 82.85 rupees

usd = int(input("Enter amount in USD: "))
def cal_rupee(usd):
    rupee = usd * 82.85
    print(rupee)
    
cal_rupee(usd)

Enter amount in USD: 5
414.25

In [74]:
#WAF to print if input number is EVEN or ODD
n = int(input("Enter number: "))
def even_odd(n):
    if(n%2==0):
        print("EVEN")
    else:
        print("ODD")
        
even_odd(n)

Enter number: 7
ODD

In [76]:
#RECURSION
n= int(input())
def show(n):
    if(n==0): #base case
        return
    print(n)
    show(n-1)
show(5)

5
5
4
3
2
1

In [77]:
#WAF to print factorial of a number using recursion

n = int(input("Enter number: "))
def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
    
print(fact(n))

Enter number: 5
120

In [82]:
#write a recursive function to calculate the sum of first n natural numbers

n = int(input("Enter number: "))
def sum_of_n(n):
    if(n==0):
        return 0
    return sum_of_n(n-1) + n

sum = sum_of_n(n)
print(sum)

Enter number: 5
15

In [84]:
#Write a recursive function to print all elements in a list.
def print_list(list,idx):
    if(idx==len(list)):
        return
    print(list[idx])
    print_list(list,idx+1)
    
fruits = ["mango", "apple", "banana", "litchi"]
print_list(fruits,0)

mango
apple
banana
litchi

# File Input/Output